.bk-cont{
    background-color: $primary-color;
    margin: 0;
    height: 100%;
    min-height: 100%;
    display: flex;
    direction: column;
    .bk-nav{
        img{
            // margin: 5px 0 0 5px;
            margin-left: 30%;
            max-height: 60px;
            max-width: 60px;
            border-radius: 50%; 
        }
        background-color: $secondary-color;
        flex: 0 0 256px;
        order: 0;
        margin: 15px 15px;
        border-radius: $bk-brdr-radius;
        overflow: auto;
        ul{
            list-style: none;
            margin: 8px 0;
            padding: 0;
            li a {
                text-transform: uppercase;
                    &:hover {
                        @extend .on-hover;

    }
                 @if $theme-type == "dark"{
                    border-bottom: 1px solid rgba(#FFFFFF, 0.12);
                }
                @else{
                    border-bottom: 1px solid rgba(#000000, 0.12);
                }

                display: flex;
                align-items: center;
                padding: 5px 0px;
                text-decoration: none;
                color: $text-color;
                margin: 0 5px;
                .material-icons{

                }
                span{
                    padding-left: 3px;
                }
            }
            li ul {
                display: none;
                li a{
                    margin-left: 30px;
    &:hover {
    @extend .on-hover;
    }

                    
                }
            }
        }
    }
    .bk-pg{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 15px 50px;
        .bk-pg-hdr{
            background-color: $secondary-color;
            flex: 0 64px;
            z-index: 0;
            margin-bottom: 15px;
            border-radius: $bk-brdr-radius;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: $accent-color;
            overflow: hidden;
            padding: 0 10px;
            .clickable{
                &:hover{
                    @extend .on-hover;
                }       
            }
            .branding{
                
                img{
                    max-height: 60px;
                    max-width: 60px;
                    border-radius: 50%;            
                }
            }
            .nav{
                display: flex;
                text-transform: uppercase;  
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                 .title {
                        animation-name: titlechange;
                        animation-duration: 2s;

                 }
            }
            .theme{

            }
        }
        .bk-pg-content{
            background-color: $secondary-color;
            flex: 1;
            order: 1;
            overflow: auto;
            border-radius: $bk-brdr-radius;
            .bk-article{
                padding: 15px;
                .btitle{
                     @extend .para-title;
                }
                .bpara{
                    @extend .para;
                    // word-break: break-all;
                }
                .bcode{
                    background-color: $primary-color;
                    border-radius: 10px;
                    box-shadow: 0px 0px 2px 2px $primary-color;
                    margin-top: 20px; 
                }
            }
        }
    }
}

@media (min-width: 800px){
.menu-toggle {
        display: none;
    }
.bk-nav img{
    display: none;
}
}

@media (max-width: 800px){
    .material-icons{
}
    .bk-nav,.branding img {
        display: none;
    }
    .bk-cont{
        .bk-pg{
            margin: 5px 10px;
            .bk-pg-content{
                .bk-article{
                    .btitle{
                        // font-size: 25px;

                    }
                    .bpara{

                    }
                }
            }
            .bk-pg-hdr{
            .nav{

            }
        }
        }
        
    }

       .bk-nav {
        position: absolute;
        top: 0px;
        top: 70px;
        left: -271px;
        width: 256px;
        height: 80vh;
        margin: 0;
        padding: 0;
        display: block;
        transition: all 0.4s ease;
        overflow: auto;
        
        &.open {
            // top: 70px;
            left: -15px;
            box-shadow: 2px 0 8px rgba(0,0,0,0.24);
        }
       }
}


@keyframes titlechange{
    50% {color: $seondary-accent-color;transform:scale(1.5)}
}




//highlightjs theme

.hljs,
.hljs-subst {
  color: $bkcd-hljs-subst;
}

.hljs-comment {
  color: $bkcd-hljs-comment;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}


/* User color: hue: 0 */

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
   color: $bkcd-hljs-type;
}

.hljs-title,
.hljs-section {
  color: $bkcd-hljs-type;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: $bkcd-hljs-symbol;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: $bkcd-hljs-literal;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: $bkcd-hljs-code;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: $bkcd-hljs-meta;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}